<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574497039370-k5h4rq9l8stjm21sq81e94a32q6vi968.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574497039370-k5h4rq9l8stjm21sq81e94a32q6vi968</string>
	<key>API_KEY</key>
	<string>AIzaSyAha5cx72mZNL7lVosqpT72CtWALHAIoRI</string>
	<key>GCM_SENDER_ID</key>
	<string>574497039370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edorfs.Futag</string>
	<key>PROJECT_ID</key>
	<string>futag-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>futag-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574497039370:ios:d106a079dd9fb80becabf3</string>
</dict>
</plist>